<div class=kangas>

    <canvas id="kangas" width=425 height=150 style=background-color:white>
        Selaimesi ei valitettavasti tue HTML canvas elementtiä. Kokeile ladata peli toisella selaimella.
    </canvas>
    <button id="resetCanvas">Aloita alusta.</button>
</div>
<script src={{ '/assets/game.js'  | relative_url }}></script>
<div class="content">

    <h2>Ohjeet pelin pelaamiseen</h2>
    <ul>
        <li>Liikuta hahmoa nuolinäppäimillä.</li>
        <li>Työnnä laatikot keltaisten laatikoiden päälle.
    </ul>
    </ul>
    <h2>Mahdollisimman lyhyt ratkaisu</h2>
    <p>Yritä keksiä peliin mahdollisimman vähän askelia vaativa ratkaisu.
        Kerro ratkaisustasi <a href="https://elomake.helsinki.fi/lomakkeet/103339/lomake.html">haku lomakkeessa</a>!s
    </p>
</div>