<div class="content">
    <p>Huomio: Peli toimii vain tietokoneen selaimessa. Pelissä ei valitettavasti ole tukea kosketusnäyttöisille laitteille.</p>
</div>
<div class=kangas>

    <canvas id="kangas" width=425 height=150 style=background-color:white>
        Selaimesi ei valitettavasti tue HTML canvas elementtiä. Kokeile ladata peli toisella selaimella.
    </canvas>
    <br>
    <button id="resetCanvas">Aloita alusta.</button>
    <div id="liikkeet">
    </div>
</div>
<script src={{ '/assets/game.js'  | relative_url }}></script>
<div class="content">

    <h2>Ohjeet pelin pelaamiseen</h2>
    <ul>
        <li>Liikuta hahmoa nuolinäppäimillä.</li>
        <li>Työnnä laatikot keltaisten laatikoiden päälle.
        <li>Laatikot eivät voi liikkua, jos niiden edessä on seinä tai toinen laatikko.</li>
    </ul>
    </ul>
    <h2>Mahdollisimman lyhyt ratkaisu</h2>
    <p>Yritä keksiä peliin mahdollisimman vähän askelia vaativa ratkaisu.
        Kerro ratkaisustasi <a href="https://elomake.helsinki.fi/lomakkeet/103339/lomake.html">haku lomakkeessa</a>!
    </p>
</div>